{% extends 'base.html' %}

{% block title %}
Question Pair Similarity
{% endblock %}

{% block content %}
<ul class="nav justify-content-center nav-tabs ">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'test'%}">Test</a>
    </li>
</ul>

<!-- <div class=""> -->
  <div class=" container row">
    <div class="col d-flex justify-content-center">
      <h2> Exploratory Data Analysis </h2>
    </div>
  </div>
<!-- </div> -->
<!-- <p>Here all the train EDA comes</p> -->
<div class="container row justify-content-center">
  {% for file in files %}
    <div class=" col-8 p-2 img-hover ">
      <img src="{{file}}" alt="{{file}}">
    </div>
    <hr>
    <!-- </br>  -->
  {% endfor %}
</div>

{% endblock %}